<div class="login closed">
    <span class="login-text">Log in</span>
    <form class="login">
        <input type="text" name="name" /><br />
        <input type="password" name="password" /><br />
        <input type="submit" value="Log in" />
    </form>
</div>
<div class="title">
    Dota 2 Stats
</div>
