html, body, table, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #6D180D;
}

table {
    border-spacing: 0;
}

table th {
    padding: 5px;
    border-bottom: 1px solid #E0E0E0;
    text-transform: uppercase;
    font-size: 12px;
}

table td {
    padding: 5px;
}

.hidden {
    display: none;
}

div.title {
    width: 100%;
    height: 100px;
    padding: 40px 0;
    margin-left: 60px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    font-variant: small-caps;
    background: transparent url('../img/dota2-small.png') no-repeat 240px center;
}

div.login {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #6E1411;
    color: #FFFFFF;
}

div.login.closed {
    cursor: pointer;
}

div.login a.login-steam img {
    height: 23px;
}

div#content {
    position: relative;
    width: 980px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 100px #ED4B25;
    border: 2px solid #6E1411;
}

div#body {
    overflow: hidden;
}

div#match_details, div#body div#match_list {
    position: relative;
}

div#match_details {
    display: none;
}

table#matches {
    width: 100%;
}

table#matches tr.match {
    cursor: pointer;
}

table#matches tr.shadow {
    background-color: #F0F0F0;
}

table#matches td.players {
    width: 430px;
}

table#matches td.players ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table#matches td.match_id {
    width: 160px;
    text-align: center;
}

table.match_summary {
    width: 100%;
    text-align: center;
}

table.match_details {
    width: 100%;
    margin-top: 20px;
}

table.match_details caption {
    text-align: left;
}

table.match_details td {
    line-height: 22px;
    padding: 0 5px 0 5px;
    margin: 0;
}

table.match_details caption.radiant,
table.match_summary td.result.radiant {
    color: green;
}

table.match_details caption.dire,
table.match_summary td.result.dire {
    color: red;
}

table.match_details td.hero {
    width: 40px;
}

table.match_details td.items {
    width: 265px;
}

table.match_details td.level,
table.match_details td.gold,
table.match_details td.cs,
table.match_details td.gold_min,
table.match_details td.xp_min {
    width: 55px;
    text-align: center;
}

table.match_details td.kda {
    width: 75px;
    text-align: center;
}

table.match_details td.hero img {
    width: 40px;
    height: 30px;
}

table.match_details td.items img {
    width: 40px;
    height: 30px;
}

div#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
    opacity: 0;
    z-index: 1;
}
